* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font: calc(14px + 0.3vw)/1.5 Arial, sans-serif;
    background-color: #ffffff;
}

#page-wrapper {
    width: 90%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex: 1;
}

header, footer {
    background-color: #667db8;
    color: #ffffff;
    padding: 0 1%;
    text-align: left;
}

header {
    min-height: 75px;
}
footer {
    min-height: 40px;
}

header h1 {
    font-size: calc(16px + 1vw);
}

nav {
    width: 30%;
    max-width: 30%;
    background-color: #5a6fa8;
}

nav ul {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

nav li {
    text-align: center;
    margin: 10%;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: calc(2px + 1.5vw);
}

main {
    width: 70%;
    max-width: 70%;
    background-color: #e8eef8;
    padding: 1%;
    font-size: calc(2px + 1.5vw);
    text-align: center;
}

#list ul li {
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 2%;
    border-left: 5px solid #667db8;
    background-color: #ffffff;
    text-align: left;
}

#list ul ul li {
    margin-top: 8px;
    border: 2px dotted #667db8;
    margin-bottom: 8px;
}

img {
    max-width: 80%;
    margin-top: 50px;
    margin-bottom: 25px;
}

footer a {
    color: #ffffff;
}


#output {
    font-size: calc(14px + 0.4vw);
}

@media screen and (max-width: 1000px) {
    body {
        font: calc(18px + 0.1vw)/1.5 Arial, sans-serif;
    }

    main {
        width: 100%;
        max-width: 100%;
        padding: 1%;
    }

    header, footer {
        padding: 0 1%;
    }
}

@media screen and (max-width: 750px) {
    header {
        text-align: center;
    }

    #page-wrapper {
        width: 95%;
    }

    #container {
        flex-direction: column;
        flex: 1;
    }

    nav {
        width: 100%;
        max-width: 100%;
        min-height: 50px;
    }

    nav ul {
        flex-direction: row;
        justify-content: center;
    }

    nav li {
        margin: 2%;
    }

    main {
        width: 100%;
        max-width: 100%;
        padding: 3%;
        flex: 1;
    }

    header, footer {
        padding: 0 1%;
    }

    header {
        min-height: 65px;
    }

    footer {
        min-height: 40px;
    }

    img {
        max-width: 100%;
    }
}
